/*
Daniel Park Portfolio CSS
Samples from FlatUI, normalize, bootstrap and Flatboot
*/
@import url("normalize.css");

/* =Sass variables
----------------------------------------------- */
$intro-color: #26C281;
$use-color: #1E8BC3;

/* =Global
----------------------------------------------- */

h1,h2,h3,h4,h5,h6,a,p {
  font-family: 'Open Sans', sans-serif;
  color: #3c3c3c;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
}
body {
  background-color: #EEE;
}
p {
  font-weight: 300;
}
h1 {
  /* Main Heading Text */
  
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  color: #3c3c3c;
}
h1 em {
  font-style: normal;
  color: white;
  font-size:70px;
  text-align: center;

}
h2 {
  /* Section Titles */
  
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
  letter-spacing: 0.1em;
}

h5 {
  /* Service Titles & Portfolio */
  font-size: 40px;
  font-weight: bold;
}
h6 {
  /* Contact Message */
  
  font-size: 18px;
  text-align: center;
  color: #a9a9a9;
}
* {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}
body > section {
  padding: 50px 0;
  width: 100%;
  background-color: white;
}

/* =CSS Animations
----------------------------------------------- */

@-webkit-keyframes slideup { 
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY();
  }
}
@-moz-keyframes slideup { 
  0% {
    opacity: 0;
    -moz-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY();
  }
}
@keyframes slideup { 
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY();
  }
}

/* =Header
----------------------------------------------- */

section.header {
background-color: $intro-color;
width: 100%;
position: relative;
height: 90%;}

.brand-wrapper {
  position: relative;
  top: 5%;

}

.brand{
  font-size: 160px;
  margin: 50px;
}

.desc{
  padding: 20px;
  color:white;
  text-align: center;
  font-size: 20px;
}
/* =uses
----------------------------------------------- */
section.uses {
padding:40px;
background-color: $use-color;
}
section.uses .serviceitems {
width: 960px;
margin: 5px auto;
-webkit-transition: width .2s ease;
-moz-transition: width .2s ease;
transition: width .2s ease;
}
section.uses .serviceitems article {

margin: 10px;
float: left;
}
section.uses .serviceitems figure {
float: left;
// margin: 30px 60px 30px 0;
border-radius: 50%;
background-color: $use-color;
padding: 47px 0px 0px 40px;
}
section.uses .serviceitems figure img {
width: 80px;
height: 69px;
}
section.uses .serviceitems article h5 {
margin-top: 65px;
margin-bottom: 20px;
/*letter-spacing: 0.1em;*/
display: block;
float: left;
}
section.uses .serviceitems article p {
width: 200px;
font-size: 12px;
font-weight: 400;
color: #ddd;
line-height: 20px;
display: block;
float: left;
}
section.uses::after,
section.uses .serviceitems::after {
content: '';
display: block;
clear: both;
}

/* =Contact
----------------------------------------------- */
section.contact {  padding-bottom: 210px }
section.contact > a {
width: 180px;
height: 170px;
display: block;
margin: 0 auto 45px auto;
overflow: hidden;
text-indent: -9999px;
background: url('../img/budgie_wink3.png') no-repeat 0px -175px;
}
section.contact > a:hover {  background: url('../img/budgie_wink3.png') no-repeat 0px 0px }
section.contact h2 {
color: #4b4c51;
margin-bottom: 30px;
}
section.contact em {
color: #999999;
font-style: normal;
}
section.contact h6 {  margin-bottom: 30px }
section.contact .socialicons {
width: 222px;
height: 72px;
margin: 0 auto 30px auto;
clear: both;
}
section.contact .socialicons a {
width: 50px;
height: 50px;
border-radius: 50px;
margin: 12px;
background: url('../img/sprites.png') no-repeat -1px -1px;
display: block;
float: left;
text-indent: -9999px;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
transition: all 0.2s ease;
}
section.contact form {
width: 600px;
background-color: #eeeeee;
border-radius: 6px;
margin: 20px auto;
display: block;
padding: 10px;
position: relative;
}
.contactform h6 {
padding: 60px 0px 30px 0px;
color: #999;
line-height: 36px;
}
section.contact input {
width: 260px;
height: 50px;
padding: 0px 0px 0px 20px;
border-radius: 3px;
background-color: white;
border: none;
color: #7ed5c8;
margin: 10px;
float: left;
}
section.contact input:focus,
section.contact input:active,
section.contact textarea:focus,
section.contact textarea:active {
outline-color: #7ed5c8;
outline-style: solid;
outline-width: 2px;
}
section.contact textarea {
width: 540px;
height: 80px;
padding: 20px;
color: #7ed5c8;
border-radius: 3px;
background-color: white;
margin: 10px;
border: none;
resize: vertical;
}
section.contact button {
display: block;
padding: 15px 30px;
background-color: #26C281;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
border: none;
color: white;
border-radius: 6px;
margin: 10px 178.50px;
position: absolute;
bottom: -100px;
-webkit-transition: background-color 0.3s ease;
-moz-transition: background-color 0.3s ease;
transition: background-color 0.3s ease;
}
section.contact button:hover {  background-color: #75E4B3 }
section.contact button:active {  background-color: #75E4B3 }
/* =Footer
----------------------------------------------- */
body > footer {
background-color: #3c4955;
width: 100%;
padding: 35px 0;
height: 20px;
}
body > footer img {
display: block;
margin: 0 auto 30px auto;
}
body > footer section {
width: 380px;
margin: 0 auto;
}
body > footer h6 {
color: white;
line-height: 34px;
}
body footer nav {
display: block;
margin: 30px auto 10px auto;
width: 365px;
}
body footer nav a {
font-size: 14px;
padding: 5px 20px;
text-align: center;
color: #e7e7e7;
}
body footer p {
text-align: center;
font-size: 12px;
}

