/*
Daniel Park Portfolio CSS
Samples from FlatUI, normalize, bootstrap and Flatboot
*/
@import url("normalize.css");

/* =Sass variables
----------------------------------------------- */
$intro-color: #26C281;
$use-color: #1E8BC3;

/* =Global
----------------------------------------------- */

h1,h2,h3,h4,h5,h6,a,p {
  font-family: 'Open Sans', sans-serif;
  color: #3c3c3c;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  line-height: 28px;
}
body {
  background-color: #EEE;
}
p {
  font-weight: 300;
}
h1 {
  /* Main Heading Text */
  
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  line-height: 56px;
  color: #3c3c3c;
}
h1 em {
  font-style: normal;
  color: white;
  font-size:70px;
  text-align: center;

}
h2 {
  /* Section Titles */
  
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
  letter-spacing: 0.1em;
}
h3 {
  /* About Hook */
  
  font-size: 26px;
  text-align: left;
  line-height: 44px;
}
h4 {
  /* About Question Titles */
  
  font-size: 22px;
  font-weight: bold;
  color: rgba(51, 51, 51, 0.8);
}
h5 {
  /* Service Titles & Portfolio */
  
  font-weight: bold;
}
h6 {
  /* Contact Message */
  
  font-size: 18px;
  text-align: center;
  color: #a9a9a9;
}
* {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}
body > section {
  padding: 150px 0;
  width: 100%;
  background-color: white;
}

/* =CSS Animations
----------------------------------------------- */

@-webkit-keyframes slideup { 
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY();
  }
}
@-moz-keyframes slideup { 
  0% {
    opacity: 0;
    -moz-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY();
  }
}
@keyframes slideup { 
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY();
  }
}

/* =Header
----------------------------------------------- */

body > header {
background-color: $intro-color;
width: 100%;

}
section.primary-nav {
background-color: white;
width: 100%;
height: 80px;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
section.primary-nav nav {
width: 940px;
margin: 0 auto;
-webkit-transition: width .2s ease;
-moz-transition: width .2s ease;
transition: width .2s ease;
}
section.primary-nav a.logo {
width: 48px;
height: 48px;
border-radius: 50%;
border: 1px solid white;
background-color: #e26868;
text-indent: -9999px;
float: left;
margin-top: 16px;
padding: 0;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
transition: all 0.4s ease;
overflow: hidden;
/* Prevent background color leak outs */
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}
.primary-nav a.logo:hover,
.primary-nav a.logo:active {
background-color: #79c5b8;
margin-top: 16px;
/* Prevent background color leak outs */
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}
.primary-nav a {
display: block;
float: right;
color: #666;
letter-spacing: 0.1px;
font-size: 14px;
padding: 0 20px;
margin: 29px 0px 0px 0px;
-webkit-transition: margin 0.2s ease;
-moz-transition: margin 0.2s ease;
transition: margin 0.2s ease;
}
.primary-nav a:hover {  margin-top: 25px }
.primary-nav a:active {  color: #de5f27 }
.primary-nav a:nth-of-type(1) {
color: $intro-color;
font-weight: bold;
}
.primary-nav a:nth-of-type(2):active {  color: #62b4a5 }
body > header h1 {
  width: 940px;
  display: block;
  margin: 40px auto 0 auto;
}
section.primary-nav::after {
  content: '';
  display: block;
  clear: both;
}

/* =About

----------------------------------------------- */
section.about {
padding: 30px 0;
margin: 0px auto;
-webkit-transition: width .2s ease;
-moz-transition: width .2s ease;
transition: width .2s ease;
background-color: #EEE;
}
section.about .about-container {
margin: 0 auto;
width: 870px;
}
section.about .desc {
margin: 0 auto;
text-align:center;
}
section.about .about-item {
width: 260px;
background-color: #FFF;
padding: 0;
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, .05);
margin: 0 15px 30px 15px;
display: moz-inline-stack;
display: inline-block;
zoom: 1;
}
section.about .about-item h5 {
text-transform: uppercase;
font-weight: 600;
font-size: 0.85em;
color: #666;
letter-spacing: 0.25em;
padding: 15px 15px 17px 15px;
-webkit-font-smoothing: antialiased!important;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004)!important;
text-align: center;
}
/* deals with image sizing */
section.about .about-item .img-container,
.about-item .sml-img-container,
.about-item .med-img-container {
width: 260px;
background: #2fa5d2;
border-top: 1px solid #DFDFDF;
border-bottom: 1px solid #DFDFDF;
background-size: 100%;
}
section.about .about-item .img-container img,
.about-item .sml-img-container img,
.about-item .med-img-container img {
width: 260px;
background: cover cover;
}
section.about .about-item .sml-img-container {
height: 178px;
background: #ea2e49;
}
section.about.about-item .med-img-container {
height: 228px;
background: #363636;
}
/*Deals with image text*/
section.about .about-item p {
padding: 20px 30px 30px 30px;
font-size: 0.850em;
color: #656565;
line-height: 1.4em;
}
/* =uses
----------------------------------------------- */
section.uses {
padding:0px;
background-color: $use-color;
}
section.uses .serviceitems {
width: 960px;
margin: 5px auto;
-webkit-transition: width .2s ease;
-moz-transition: width .2s ease;
transition: width .2s ease;
}
section.uses .serviceitems article {

margin: 10px;
float: left;
}
section.uses .serviceitems figure {
float: left;
// margin: 30px 60px 30px 0;
border-radius: 50%;
background-color: $use-color;
padding: 47px 0px 0px 40px;
}
section.uses .serviceitems figure img {
width: 80px;
height: 69px;
}
section.uses .serviceitems article h5 {
margin-top: 65px;
margin-bottom: 20px;
/*letter-spacing: 0.1em;*/
display: block;
float: left;
}
section.uses .serviceitems article p {
width: 200px;
font-size: 12px;
font-weight: 400;
color: #ddd;
line-height: 20px;
display: block;
float: left;
}
section.uses::after,
section.uses .serviceitems::after {
content: '';
display: block;
clear: both;
}

/* =Contact
----------------------------------------------- */
section.contact {  padding-bottom: 210px }
section.contact > a {
width: 180px;
height: 170px;
display: block;
margin: 0 auto 45px auto;
overflow: hidden;
text-indent: -9999px;
background: url('../img/budgie_wink3.png') no-repeat 0px -175px;
}
section.contact > a:hover {  background: url('../img/budgie_wink3.png') no-repeat 0px 0px }
section.contact h2 {
color: #4b4c51;
margin-bottom: 30px;
}
section.contact em {
color: #999999;
font-style: normal;
}
section.contact h6 {  margin-bottom: 30px }
section.contact .socialicons {
width: 222px;
height: 72px;
margin: 0 auto 30px auto;
clear: both;
}
section.contact .socialicons a {
width: 50px;
height: 50px;
border-radius: 50px;
margin: 12px;
background: url('../img/sprites.png') no-repeat -1px -1px;
display: block;
float: left;
text-indent: -9999px;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
transition: all 0.2s ease;
}
section.contact .socialicons a:hover {  margin-top: 7px }
section.contact .socialicons a:active {  opacity: 0.8 }
section.contact .socialicons a[href*="twitter"] {  background-position: -55px 1px }
section.contact .socialicons a[href*="dribbble"] {  background-position: -104px 1px }
section.contact .socialicons a[href*="mailto:"] {  background-position: -154px 1px }
section.contact form {
width: 600px;
background-color: #eeeeee;
border-radius: 6px;
margin: 20px auto;
display: block;
padding: 10px;
position: relative;
}
.contactform h6 {
padding: 60px 0px 30px 0px;
color: #999;
line-height: 36px;
}
section.contact input {
width: 260px;
height: 50px;
padding: 0px 0px 0px 20px;
border-radius: 3px;
background-color: white;
border: none;
color: #7ed5c8;
margin: 10px;
float: left;
}
section.contact input:focus,
section.contact input:active,
section.contact textarea:focus,
section.contact textarea:active {
outline-color: #7ed5c8;
outline-style: solid;
outline-width: 2px;
}
section.contact textarea {
width: 540px;
height: 80px;
padding: 20px;
color: #7ed5c8;
border-radius: 3px;
background-color: white;
margin: 10px;
border: none;
resize: vertical;
}
section.contact button {
display: block;
padding: 15px 30px;
background-color: #26C281;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
border: none;
color: white;
border-radius: 6px;
margin: 10px 178.50px;
position: absolute;
bottom: -100px;
-webkit-transition: background-color 0.3s ease;
-moz-transition: background-color 0.3s ease;
transition: background-color 0.3s ease;
}
section.contact button:hover {  background-color: #75E4B3 }
section.contact button:active {  background-color: #75E4B3 }
/* =Footer
----------------------------------------------- */
body > footer {
background-color: #3c4955;
width: 100%;
padding: 35px 0;
height: 20px;
}
body > footer img {
display: block;
margin: 0 auto 30px auto;
}
body > footer section {
width: 380px;
margin: 0 auto;
}
body > footer h6 {
color: white;
line-height: 34px;
}
body footer nav {
display: block;
margin: 30px auto 10px auto;
width: 365px;
}
body footer nav a {
font-size: 14px;
padding: 5px 20px;
text-align: center;
color: #e7e7e7;
}
body footer p {
text-align: center;
font-size: 12px;
}
/* =Return to top button
----------------------------------------------- */
body > div.returning {
width: 58px;
height: 58px;
border-radius: 50%;
background-color: rgba(22, 160, 155, 0.3);
position: fixed;
text-indent: -9999px;
bottom: 50px;
right: 50px;
z-index: 100;
display: none;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
-webkit-animation: slideup 1s ease;
-moz-animation: slideup 5s ease;
animation: slideup 1s ease;
}

.return_scroll {  display: block !important }
.return_scroll:hover {  background-color: rgba(0, 0, 0, 0.5) }
/* =Media Queries
----------------------------------------------- */
@media (max-width: 1087px) { 
  section.primary-nav nav {  width: 700px }
  body > header h1 {  width: 700px }
  section.services .serviceitems {  width: 480px }
  section.services .serviceitems article {  margin: 15px 10px }
  section.portfolio {  width: 640px }
  section.portfolio span.close {  right: 291px }
  section.portfolio section img {  width: 100% }
  section.about section {  width: 640px }
  section.about section article {
    margin: 0 auto;
    width: 100%;
    margin: 50px 20px 0 20px;
  }
  section.about section h3 {
    width: 100%;
    font-size: 22px;
    margin: 0px 20px 0px 20px;
  }
  section.about h4 {  text-align: left }
  section.about p {  text-align: left }
  section.about section img {
    float: none;
    margin: 0px 193.5px 60px 193.5px;
  }
  body > div,
  body > div.returning {  display: none !important }
}
@media (max-width: 650px) { 
  body > header {
    height: 420px;
    background: $intro-color;
  }
  body > section {  padding: 50px 0 }
  .primary-nav a.logo {
    float: none;
    clear: both;
    margin: 10px auto 0 auto;
  }
  .primary-nav a {
    padding: 5%;
    display: block;
    width: 15%;
    margin: 0;
    text-align: center;
  }
  section.primary-nav {  height: auto }
  .primary-nav a {  font-size: 12px }
  .primary-nav a:hover {  margin-top: 0 }
  section.primary-nav nav {  width: 95% }
  section.primary-nav nav {
    height: auto;
    width: 90%;
    margin: 0 5%;
  }
  body > header h1 {
    padding-top: 0px;
    width: 80%;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 80px;
  }
  section.services .serviceitems {
    width: 90%;
    margin: 5%;
  }
  section.services .serviceitems article {
    width: 40%;
    margin: 5%;
    height: auto;
  }
  section.services .serviceitems figure {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    height: auto;
    margin-bottom: 20px;
  }
  section.services .serviceitems figure img {
    display: block;
    margin: 0 auto;
  }
  section.services .serviceitems article h5 {
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  section.services .serviceitems article p {  display: none }
  section.portfolio {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  section.portfolio > a {
    width: 100%;
    margin: 10px 0px;
    display: block;
    height: auto;
  }
  section.portfolio section iframe {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  section.portfolio a:hover {  opacity: 1 }
  section.portfolio a img {
    width: 100%;
    display: block;
  }
  h2 {  font-size: 30px }
  section.portfolio section p {  width: 100% }
  section.portfolio span.close {  display: none }
  section.about section {  width: 100% }
  section.about section img {
    width: 253px;
    height: 253px;
    margin: 0 auto 60px auto;
  }
  section.about section article {
    width: 95%;
    margin: 2.5% 2.5% 30px 2.5%;
    text-align: center;
  }
  section.about section h3 {  display: none }
  section.about section div {
    width: 85%;
    margin: 0 7.5%;
  }
  section.about h4 {  text-align: center }
  section.about p {  text-align: center }
  section.contact {  padding-bottom: 50px }
  h6 {
    width: 90%;
    margin: 5%;
  }
  section.contact form {  width: 90% }
  section.contact input {
    width: 85%;
    margin: 5%;
    padding-left: 5%;
  }
  section.contact textarea {
    width: 85%;
    margin: 5%;
    padding: 5% 0 5% 5%;
  }
  section.contact button {
    position: relative;
    bottom: auto;
    margin: 10px auto;
  }
  .return_scroll {  display: none }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) { 
  .primary-nav a.logo {
    background: url('../img/sprites@2x.png') no-repeat -3px 1px;
    -webkit-background-size: 207px;
    -moz-background-size: 207px;
    background-size: 207px;
    background-color: #e26868;
  }
  section.contact .socialicons a {
    background: url('../img/sprites@2x.png') no-repeat -3px 1px;
    -webkit-background-size: 207px;
    -moz-background-size: 207px;
    background-size: 207px;
  }
}