<html><head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
		<meta name="robots" content="noarchive">
		
		<meta name="description" content="Perish is an API to put constraints on the availability of your files"> 
		
		<title>Perish API</title>
		
		<!-- CSS -->
		<link rel="stylesheet" href="static/css/main.css">
		<link rel="stylesheet" href="static/css/normalize.css">
		<link rel="stylesheet" href="static/css/font-awesome.css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
		<!-- JS -->	
		<script src="assets/js/jquery.min.js" type="text/javascript"></script>
	</head>

	<body>
		<a href="https://github.com/project-perish"><img style="position: absolute; top: 0; left: 0; border: 0;height:90px" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>
		<header id="header">
			<section class="primary-nav">
			
				<nav>
					<a href="#contact">Contact</a>
					<a href="#uses">Uses</a>
					<a href="#about">About</a>	
				</nav>	
			</section>
			
			<h1>
				<em>Perish.</em>
			</h1>
			<h1 style= "margin-top:0px">
				Upload, Share, Delete. Automatically. 
			</h1 >
		</header>
		
	
	<section id="about" class="about">
		<h1>
			ABOUT
		</h1>
		<p class="desc"> Perish is a unique solution to the ever-present need for file storage. Store files and set constraints for them to automatically be deleted.</p>

	</section>
	
	
	<section id="uses" class="uses">
		<h1 style="bottom-margin:0px;"> USES</h1>
		<section class="serviceitems">
			<article>
				<figure>
					<i class="fa fa-lock" style="font-size:50px;"></i>
				</figure>
				
				<h5>SECURITY</h5>
				<p>Limit the availability of your files</p>
				
			</article>
				
			<article>
			
				<figure>
					<i class="fa fa-user" style="font-size:50px;"></i>
				</figure>
				
				<h5>ANONYMITY</h5>
				<p> Proficient in Python, HTML, CSS (Sass and LESS) and LaTex with working knowledge in Java,
				JavaScript(jQuery and AngularJS), PHP, C++ and SQL.</p>
				
			</article>
				
			<article>			
				<figure>
 					<i class="fa fa-clock-o "style="font-size:50px;"></i>
				</figure> 
				
				<h5>CONVENIENCE</h5>
				<p>Familiar with Parse, Jenkins, Subversion, Git, SonarQube, Hudson, Linux, AWS, and have working knowledge of many frameworks (bootstrap, spring, flask, etc).</p>
				
			</article>
				
				<article>
				
					<figure>
			<i class="fa fa-database"style="font-size:50px;"></i>					</figure>
					
					<h5>STORAGE</h5>
					<p>Have experience with corporate (GEICO, Capital One), startups (Vagabond Vending, Artisan Meads) and regularly attend hackathons. Attempting to do more open source.
					</p>
					
				</article>
				
			</section>
			
		</section>
	

	
		<section id="contact" class="contact">
			<h2>Contact Us</h2>
			
			<h6>Love the idea? Hate it? Got a funny joke?<br><b>Send it our way!</b><br></h6>
			
			<form class="contactform" method="post" autocomplete="off">
				<input type="text" id="name" name="name" value="" placeholder="Full Name">
				<input type="email" id="email" name="email" value="" placeholder="Email">
				<textarea id="mail-content" name="mail-content" placeholder=""></textarea>
				<button href="mailto:dhpark01@email.wm.edu?subject=Hey%20Perish%20Check%20this%20out!" target="_blank" type="submit">Send it to me!</button>
				
				
			</form>
				
		</section>
	
	<a class="return"></a>

	<footer>

		<p style="color:white;">© 2015 Perish API. All rights reserved.</p>
		
	</footer>
	


</body></html>