<html><head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
		<meta name="robots" content="noarchive">
		
		<meta name="description" content="Perish is an API to put constraints on the availability of your files"> 
		
		<title>Perish API</title>
		
		<!-- CSS -->
		<link href="assets/img/favicon.ico" rel="icon">
		<link rel="stylesheet" href="static/css/main.css">
		<link rel="stylesheet" href="assets/css/normalize.css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
		<!-- JS -->	
		<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script src="assets/js/jquery.min.js" type="text/javascript"></script><style type="text/css"></style>
		<script src="assets/js/isotope.js" type="text/javascript"></script>
		<script src="assets/js/function.js" type="text/javascript"></script>
		<script src="contact.js" type="text/javascript"></script>
		<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
	</head>

	<body>
		<header id="header">
			<section class="primary-nav">
			
				<nav>
					<a href="#contact">Contact</a>
					<a href="#design">Design</a>
					<a href="#uses">Uses</a>
					<a href="#about">About</a>	
				</nav>	
			</section>
			
			<h1>
				<em>Perish.</em>
			</h1>
			<h1 style= "margin-top:0px">
				Upload, Share, Delete. Automatically. 
			</h1 >
		</header>
		
	
	<section id="about" class="about">
		<h1>
			HACKATHONS
		</h1>

	</section>
	
	
	<section id="uses" class="uses">
		<section class="serviceitems">
			<article>
				<figure>
					<img class="hires" src="" alt="webdesign">
				</figure>
				
				<h5>SECURITY</h5>
				<p>Limit the availability of your files/p>
				
			</article>
				
			<article>
			
				<figure>
					<img class="hires" src="assets/img/service-illustration.png" alt="languages">
				</figure>
				
				<h5>LANGUAGES</h5>
				<p> Proficient in Python, HTML, CSS (Sass and LESS) and LaTex with working knowledge in Java,
				JavaScript(jQuery and AngularJS), PHP, C++ and SQL.</p>
				
			</article>
				
			<article>			
				<figure>
<!-- 					<img class="hires" src="assets/img/service-animation.png" alt="technology"> -->
				</figure> 
				
				<h5>TECHNOLOGY</h5>
				<p>Familiar with Parse, Jenkins, Subversion, Git, SonarQube, Hudson, Linux, AWS, and have working knowledge of many frameworks (bootstrap, spring, flask, etc).</p>
				
			</article>
				
				<article>
				
					<figure>
			<!-- 			<img class="hires" src="assets/img/service-photo.png" alt="experience"> -->
					</figure>
					
					<h5>EXPERIENCE</h5>
					<p>Have experience with corporate (GEICO, Capital One), startups (Vagabond Vending, Artisan Meads) and regularly attend hackathons. Attempting to do more open source.
					</p>
					
				</article>
				
			</section>
			
		</section>
	
	
		<section id="design" class="portfolio">
			<section>
				<h3>Daniel Park is a driven CS major at the College of William &amp; Mary that aims to go into the software industry after graduation.</h3>
				<article>
					<h4>What do I do for you?</h4>
					<p>Front end development and web design. 
					 </p>
				</article>			
				<article>
					<h4>What do I do for fun?</h4>
					<p>I have a variety of side projects you can view on my github. I am also a competitive breakdancer and have performed at concerts.  </p>
				</article>
			</section>
		</section>
	
	
		<section id="contact" class="contact">
			<h2>Contact Us</h2>
			
			<h6>Love the idea? Hate it? Got a funny joke?<br><b>Send it our way!</b><br></h6>
			
			<form class="contactform" method="post" autocomplete="off">
				<input type="text" id="name" name="name" value="" placeholder="Full Name">
				<input type="email" id="email" name="email" value="" placeholder="Email">
				<textarea id="mail-content" name="mail-content" placeholder=""></textarea>
				<button href="mailto:dhpark01@email.wm.edu?subject=Hey%20Perish%20Check%20this%20out!" target="_blank" type="submit">Send it to me!</button>
				
				
			</form>
				
		</section>
	
	<a class="return"></a>

	<footer>

		<p>© 2015 Perish API. All rights reserved.</p>
		
	</footer>
	
	<div class="returning">
		<a href="#header">Return to top</a>
	</div>
	


</body></html>