/*
Daniel Park Portfolio CSS
Samples from FlatUI, normalize, bootstrap and Flatboot
*/
/* =Sass variables
----------------------------------------------- */
$intro-color: #26C281;
$features-color: #f4f4f4;
$contact-color:rgba(253, 227, 167, 0.75);
$font-color: #909090;
$features-font-color: #4b4c51;
$contact-font-color: #5a5a5a;

/* =Global
----------------------------------------------- */

h1,h2,h3,h4,h5,h6,a,p {
  font-family: 'Lato', sans-serif;
  color: $font-color;
;
  font-weight: normal;
  font-size: 17px;
  text-decoration: none;
}

body {
  background-color: #EEE;
}

p {
  font-weight: 300;
}

h1 {
  /* Main Heading Text */
  
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  color: #3c3c3c;
  
  em {
    font-style: normal;
    color: white;
    font-size:70px;
    text-align: center;
  }
}

h2 {
  /* Section Titles */
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}

h5 {
  /* Service Titles & Portfolio */
  font-size: 40px;
  font-weight: bold;
}

h6 {
  /* Contact Message */
  font-size: 25px;
  text-align: center;
  color: $contact-font-color;
}

* {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}
body > section {
  padding: 50px 0;
  width: 100%;
  background-color: white;
}

/* =CSS Animations
----------------------------------------------- */

@-webkit-keyframes slideup { 
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY();
  }
}
@-moz-keyframes slideup { 
  0% {
    opacity: 0;
    -moz-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY();
  }
}
@keyframes slideup { 
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY();
  }
}

/* =Header
----------------------------------------------- */

section.header {
background-color: $intro-color;
width: 100%;
}

.brand-wrapper {
  position: relative;
  padding: 0px 45px;
  padding-top:100px;
  padding-bottom:50px;
}

.brand{
  font-size: 200px;
    display: inline;
}

.desc{
  padding-top: 30px;
  padding-bottom: 15px;
  color:white;
  text-align: center;
  font-size: 25px;
}

.logo{
  height: 155px;
  width: 110px;
  position: relative;
  top: 7px;
}

.try-me{
  text-align: center;
  width: 200px;
  margin: 0px auto;
  padding-top: 10px;
  
  a{
    display: block;
    background-color: #F9BE37;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    color: #3C3C3C;
    margin:15px auto;
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 26px;
    line-height: 1.471;
    border-radius: 6px;
    position: relative;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

    &:active {
      background-color: #F9E6BC;
    }

    &:hover {
      background-color: #F9E6BC;
    }
  }
}


/* = features
----------------------------------------------- */
.features{
  background-color: $features-color;
}

.features-wrapper{
 padding: 75px 50px;
  
  .features-header{
    padding-bottom: 50px;
  }

  .features-label{
     color: 505050;
     padding: 7.5px 0px;
  }

  .features-desc{
    text-align: center;
  }
}
/* =Contact
----------------------------------------------- */
section.contact {
  background-color:$contact-color;
  padding-top: 60px;
  padding-bottom: 125px; 
}

section.contact h2 {
color: #4b4c51;
margin-bottom: 30px;
}

section.contact h6 {
  margin-bottom: 30px 
}

section.contact form {
width: 600px;
background-color: #eeeeee;
border-radius: 6px;
margin: 20px auto;
display: block;
padding: 10px;
position: relative;
}

section.contact input {
width: 260px;
height: 50px;
padding: 0px 0px 0px 20px;
border-radius: 3px;
background-color: white;
border: none;
color: #808080;
margin: 10px;
float: left;
}

section.contact input:focus,
section.contact input:active,
section.contact textarea:focus,
section.contact textarea:active {
outline-color: $intro-color;
outline-style: solid;
outline-width: 2px;
}

section.contact textarea {
width: 540px;
height: 80px;
padding: 20px;
color: #808080;
border-radius: 3px;
background-color: white;
margin: 10px;
border: none;
resize: vertical;
}

.submitbutton {
display: block;
background-color: #26C281;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
border: none;
color: white;
font-size: 20px;
border-radius: 6px;
padding: 10px 19px;
line-height: 1.471;
border-radius: 6px;
position: relative;
top: 100px;
margin: 0px auto;
-webkit-transition: background-color 0.3s ease;
-moz-transition: background-color 0.3s ease;
transition: background-color 0.3s ease; 
}

.buttonwrapper{
  text-align:center;
  margin: 0px auto;
}

section.contact button:hover {
  background-color: #75E4B3
}

section.contact button:active {
  background-color: #75E4B3 
}

.email-us{
  font-size: 28px;
  font-weight:bold;
}

/* =Footer
----------------------------------------------- */
footer {
background-color: #3c4955;
width: 100%;
padding: 30px 0;
height: 20px;
}
footer p {
color: white;
text-align: center;
font-size: 14px;
position: relative;
bottom: 5px; 
}

