<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
		<meta name="robots" content="noarchive">	
		<meta name="description" content="Perish is an API to put constraints on the availability of your files"> 
		<title>Perish API</title>
		<!-- CSS -->
		<link rel="stylesheet" href="static/css/main.css">
		<!-- fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<!-- JS -->	
	</head>

	<body>
		<a href="https://github.com/project-perish"><img style="position: absolute; top: 0; left: 0; border: 0;height:190px;z-index:1;" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>
		<section class="header">
			<div class="brand-wrapper">
				<h1>
					<em class="brand">Perish.</em>
				</h1>
				<h1>Upload, Share, Delete. Automatically. </h1>
				<p class="desc"> Perish is a unique RESTful API-based solution to the ever-present need for file storage. Upload files and set constraints, share with your friends, and have them automatically deleted when user-defined conditions are met. It's that simple.
				</p>
			</div>	
		</section>
			<section class="uses">
		<div class="uses container">
				<h2>USES</h2>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<h5><i class="fa fa-lock">&nbsp;&nbsp;SECURITY</i></h5>
						<p>Placeholder</p>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<h5><i class="fa fa-user">&nbsp;&nbsp;ANONYMITY</i></h5>
						<p> Placeholder</p>
					</div>
				</div>
				<div class="row">	
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<h5><i class="fa fa-clock-o">&nbsp;&nbsp;CONVENIENCE</i></h5>
						<p>Placeholder</p>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<h5><i class="fa fa-database">&nbsp;&nbsp;STORAGE</i></h5>
						<p>Placeholder</p>
					</div>
			</section>
		</div>
		</div>
		<section id="contact" class="contact">
			<h2>Contact Us</h2>	
			<h6>Love the idea? Hate it? Want to send us cat pics?<br><b>Email Us!</b><br></h6>	
			<form class="contactform" method="post" autocomplete="off">
				<input type="text" id="name" name="name" value="" placeholder="Full Name">
				<input type="email" id="email" name="email" value="" placeholder="Email">
				<textarea id="mail-content" name="mail-content" placeholder=""></textarea>
				<div class="buttonwrapper">
					<button class="submitbutton" href="mailto:admin@perish.me.edu?subject=Hey%20Perish%20Check%20this%20out!" target="_blank" type="submit">Send It Our Way!</button>
				</div>	
			</form>	
		</section>
	</body>

	<footer>
		<p style="≈">© 2015 Perish API. All rights reserved.</p>
	</footer>
</html>